<main class="grid-container">
    <div class="grid-item">
        <div>Total Income</div>
        <b>+{{totalIncome}} {{getCurrency()}}</b>
    </div>
    <div class="grid-item">
        <div>Total Expenses</div>
        <b>-{{totalExpenses}} {{getCurrency()}}</b>
    </div>
    <div class="grid-item">
        <div>Spend this year</div>
        <b>{{thisYearExpenses}} {{getCurrency()}}</b>
    </div>
    <div class="grid-item">
        <div>Balance</div>
        <b [ngStyle]="getColor(getSign(totalIncome - totalExpenses))">{{ totalIncome - totalExpenses }} {{getCurrency()}}</b>
    </div>
    <div class="grid-item">
        <div>
            <canvas id="yearlyOverviewChart">{{ yearlyOverviewChart }}</canvas>
        </div>
    </div>
    <div class="grid-item">
        <div>
            <canvas id="expensePerCategoryChart">{{ expensePerCategoryChart }}</canvas>
        </div>
    </div>
    <div class="grid-item recent-expenses">
        <table class="table table-borderless caption-top">
            <caption>Recent Transactions</caption>
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let transaction of transactions.slice(0, 3)">
                    <td>{{ transaction.title }}</td>
                    <td>{{ transaction.category }}</td>
                    <td>{{ transaction.date }}</td>
                    <td [ngStyle]="getColor(transaction.type)"> {{transaction.type}}{{ transaction.amount }} {{getCurrency()}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>