<main class="grid-container">
    <div class="grid-item">
        <b>4,000$</b>
        <div>Electronics</div>
    </div>
    <div class="grid-item">
        <b>300$</b>
        <div>Food</div>
    </div>
    <div class="grid-item">
        <b>40,000$</b>
        <div>Spend this year</div>
    </div>
    <div class="grid-item">
        <b>+1,200$</b>
        <div>Balance</div>
    </div>
    <div class="grid-item">
        <app-yearly-overview></app-yearly-overview>
    </div>
    <div class="grid-item">
        <canvas id="byMonth" width="100%"></canvas>
    </div>
    <div class="grid-item">
        <app-per-category></app-per-category>
    </div>
    <div class="grid-item recent-expenses">
        <table class="table table-borderless caption-top">
            <caption>Recent Transactions</caption>
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let transaction of transactions.slice(0, 3)">
                    <td>{{ transaction.title }}</td>
                    <td>{{ transaction.category }}</td>
                    <td>{{ transaction.date }}</td>
                    <td [ngStyle]="getColor(transaction.type)"> {{transaction.type}}{{ transaction.amount }} €</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
