<div class="container">
    <h2>Transactions</h2>
    <div class="row">
        <div class="col-md-10 mt-2">
            <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchQuery"
                (input)="updateFilter()">
        </div>
        <div class="col-md-2">
            <button (click)="openModal()" class="btn btn-primary mt-2">New Transaction</button>
        </div>
    </div>

    <div class="pt-3">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let transaction of filteredTransactions">
                    <td>{{ transaction.title }}</td>
                    <td>{{ transaction.category }}</td>
                    <td>{{ transaction.date }}</td>
                    <td [ngStyle]="getColor(transaction.type)"> {{transaction.type}}{{ transaction.amount }} {{currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadow rounded-2">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-11">
                        <h4 class="modal-title">New Transaction</h4>
                    </div>
                    <div class="col-md-1">
                        <button class="btn-close" (click)="closeModal()"></button>
                    </div>
                </div>
                <div class="container-fluid p-4 mx-auto">
                    <form [formGroup]="expenseForm" (ngSubmit)="addExpense()">

                        <div class="row mb-3" style="margin: auto">
                            <div class="form-check col-md-3">
                                <label class="form-check-label" for="expenseRadio">Expense</label>
                                <input class="form-check-input" type="radio" name="type" formControlName="type"
                                    value="-" id="expenseRadio" checked>
                            </div>
                            <div class="form-check col-md-3">
                                <label class="form-check-label" for="incomeRadio">Income</label>
                                <input class="form-check-input" type="radio" name="type" formControlName="type"
                                    value="+" id="incomeRadio">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input id="title" formControlName="title" class="form-control" type="text">
                        </div>
                        <div class="mb-3">
                            <label for="category" class="form-label">Category</label>
                            <input id="category" formControlName="category" class="form-control" type="text">
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="form-label">Amount</label>
                            <div class="input-group">
                                <input id="amount" formControlName="amount" class="form-control" type="number"
                                    aria-describedby="currency">
                                <span class="input-group-text" id="currency">{{currency}}</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="date" class="form-label">Transaction Date</label>
                            <input id="date" formControlName="date" class="form-control" type="date">
                        </div>
                        <div class="text-center mb-2">
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>