<div class="text-center">
    <h2 class="mb-3">Expense Tracker</h2>
</div>
<div class="container-fluid shadow rounded-2 p-4" style="max-width: 20rem;">
    <form>
        <label for="email" class="form-label">Email</label>
        <div class="input-group mb-3">
            <span class="input-group-text">
                <i class="bi bi-person-fill"></i>
            </span>
            <input autocomplete="off" autofocus class="form-control" id="email" type="text">
        </div>
        <label for="password" class="form-label">Password</label>
        <div class="input-group mb-2">
            <span class="input-group-text">
                <i class="bi bi-lock-fill"></i>
            </span>
            <input class="form-control" id="password" type="password">
        </div>
        <div class="text-center mb-2">
            <a class="link-underline link-underline-opacity-0" href="#">Forgot password?</a>
        </div>
        <div class="text-center mb-2">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
    <div class="text-center">
        <p class="fs-6">Don't have an account? <a class="link-underline link-underline-opacity-0" href="#">Signup</a>
        </p>
    </div>
</div>