<nav id="sidebarMenu" class="d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
        <div class="list-group list-group-flush">
            <a *ngFor="let item of items; let i = index" routerLinkActive="active" [routerLink]="item.route"
                class="list-group-item rounded-2 mx-1 mt-1 border-0" [class.active]="i === activeIndex" (click)="setActiveIndex(i)" >
                <i [ngClass]="item.icon"></i>
                {{ item.label }}
            </a>
        </div>
    </div>
</nav>